{%extends 'index.html'%}
{%  block content %}
<form method="POST">{% csrf_token %}
<div style="float:left;">
    <select class="btn btn-primary dropdown-toggle" name="cust" style="background-color: #333333">
        {% for i in kp %}
    <option>
<button  type="submit" value="select">{{ i }}</button>
</option>
{% endfor %}
</select>
</div>
<div style="float:left;">
<select class="btn btn-primary dropdown-toggle" name="movie" style="margin-left: 30px">
    {% for j in k %}
    <option>
<button type="submit" value="select"> {{ j }}   </button>
</option>
{% endfor %}
</select>
</div>
<button class="btn btn-success" type="submit" value="select" style="margin-left: 30px" > submit </button>
</form>

{% endblock %}

